*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}


:root{
    --primary-color: #1d0713ad;
    --secondary-color: #edeff7;
    --terceary-color: #f7d9d9;
    --font-family: 'Arial', sans-serif;
    --font-size: 16px;
    --line-height: 1.5;
}   

header, footer{
    background-color: var(--primary-color);
    color: var(--secondary-color);
    padding: 1rem;
    display: flex;
}

.logo{
    /*opção usada para deixar a imagem arredondada  */
    width: 50px;
    height: 50px;
    border-radius: 50%;
    
}
header{ 
    justify-content: space-between;
    align-items: center;
}  

footer{
    justify-content: center;
}

nav a{
    text-decoration: none;
    padding: 1rem;
    color: var(--secondary-color);
}
nav a:hover{
    background-color: var(--secondary-color);
    color: var(--terceary-color);
    border-radius: 20px;
}

main{
    padding: 1rem;
    /* background-color: var(--secondary-color);
    color: var(--terceary-color);
    min-height: 80vh; */
}



#jumbo{
    width: 100%;
    height: 200px;
    /* para preencher o espaço disponível elemento usado fili */
    object-fit: fili;
}
h2{
    text-align: center;
    background-color: var(--primary-color);
    color: var(--secondary-color);

    margin: 1rem 0;
}



.card-container{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    justify-items: center;
    gap:1rem;
    
}

.card{

    border: 1px solid black;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    border-radius: 9px;
    width: 200px;
    height: 250px;

/* quando voce quer que o curso mude para um dedinho segue a seguinte estrutura */
    cursor: pointer;
    transition: 1s 

}

.card:hover{
/*  */
    box-shadow: 5px 5px 10px 0px rgba(15, 15, 15, 0.966);
/* vc pode colocar a função zoom expandir com o curso scale:(cal...*/

}
/* deixar a imagem com borda superior arredondada */
.card-img img{
    width: 100%;
    object-fit: cover;
    border-radius: 9px 9px 0 0;
}

.card-text{
    padding: 0.5rem;
    text-align: center;
}

.card-container a{
text-decoration: none;
}

.detalhe{
    display: flex;
    justify-content: center;
     align-items: center;

} 

#texto .detalhe{
    width: 50%;
    padding: 1rem;
    text-align: center;
    margin: 0 auto;
}
.main-detalhes{
    display: flex;
    justify-content: center;
    align-items: center;
}

/* ------------------------------------------------------   CADASTRO   ------------------------------------------------ */

form{
    background-color: var(--primary-color);
    color: var(--secondary-color);
    padding: 1rem;
    border-radius: 10px;
    width: 300px;
/* controlar o filho as divs */
    display:flex;
    flex-direction: column;
    align-items: center;

}

/* mexendo nos filhos */

.form-item{
    margin: 1rem 0;
    display: flex;
    /* alinhar as estruturas das caixas ou outras coisas */
    justify-content: space-between;
    /* alinhar os itens */
    align-items: center;
    /* ocupar todo o espaço  */
    width: 100%;
}
/* formatar os inputs: todos os inputs que tiverem dentros dos forms item */

.form-item input{
    border-radius: 8px;
    padding: 0.5rem;
    border: none;
    width: 75%;

}
.upload-btn {
  display: inline-block;
  background-color: #f04fe2;
  color: white;
  padding: 8px 15px;
  border-radius: 5px;
  cursor: pointer;
  font-family: sans-serif;
  font-size: 12px;
}

/* Isso esconde o input e o texto nativo, mas mantém o botão funcionando */
.upload-btn input[type="file"] {
  display: none;
}

/* editar botoes */
button{
    background-color:var(--secondary-color);
    color: var(--primary-color);
    padding: 0.5rem;
    border-radius: 10px;
    margin: 1rem;
    border: 1px solid var(--primary-color);
    cursor: pointer   
    /* maozinha */
    
    }

/* quando o mouse passar pelo botao */
button:hover{
    background-color: var(--primary-color);
    color: var(--secondary-color);
    border: 1px solid var(--terceary-color);
}


/* ______________________________________________________  logim  ________________________________________________ */


.login{

margin-top: 50px;
/* controlar o filho as divs */
    display:flex;
    flex-direction: column;
    align-items: center;

}

.login-item{
    margin: 1rem 0;
    display: flex;
    /* alinhar as estruturas das caixas ou outras coisas */
    justify-content: space-between;
    /* alinhar os itens */
    align-items: center;
    /* ocupar todo o espaço  */
    width: 100%;
}  

.login-item input{
    border-radius: 8px;
    padding: 0.5rem;
    border: none;
    width: 75%;

}

/* editar botoes */
b.bt-entrar{
    background-color:var(--secondary-color);
    color: var(--primary-color);
    padding: 0.5rem;
    border-radius: 10px;
    margin: 1rem;
    border: 1px solid var(--primary-color);
    font-size: 30px;
    cursor: pointer   
    /* maozinha */
    
    }

/* quando o mouse passar pelo botao */
button:hover{
    background-color: var(--primary-color);
    color: var(--secondary-color);
    border: 1px solid var(--terceary-color);
}

.form-item{
    margin: 1rem 0;
    display: flex;
    /* alinhar as estruturas das caixas ou outras coisas */
    justify-content: space-between;
    /* alinhar os itens */
    align-items: center;
    /* ocupar todo o espaço  */
    width: 100%;
}
/* formatar os inputs: todos os inputs que tiverem dentros dos forms item */

.form-item input{
    border-radius: 8px;
    padding: 0.5rem;
    border: none;
    width: 75%;

}



/* ______________________________________________________  resposividade index ________________________________________________ */

@media only screen and (max-width: 600px){
    .card-container{
        grid-template-columns: repeat(1, 1fr);
    }
    header{
        flex-direction: column;
    }

    nav {
        display: flex;
        flex-direction: column;
    }
}
@media only screen and (min-width: 600px) and (max-width:900px){
    .card-container{
        grid-template-columns: repeat(2, 1fr);
    }
}
@media only screen and (min-width: 900px) and (max-width:1200px){
    .card-container{
        grid-template-columns: repeat(3, 1fr);
    }
}

/* ______________________________________________________  resposividade login ________________________________________________ */



@media only screen and (max-width: 600px){
    .login-item{
        grid-template-columns: repeat(1, 1fr);
    }
    header{
        flex-direction: column;
    }

    nav {
        display: flex;
        flex-direction: column;
    }
}
@media only screen and (min-width: 600px) and (max-width:900px){
    .login-item{
        grid-template-columns: repeat(2, 1fr);
    }
}
@media only screen and (min-width: 900px) and (max-width:1200px){
    .login-item{
        grid-template-columns: repeat(3, 1fr);
    }

} 





/* ______________________________________________________  resposividade detalhes ________________________________________________ */


@media only screen and (max-width: 600px){
    .detalhe{
        display: grid;
        grid-template-columns: repeat(1, 1fr)
    }
    header{
        flex-direction: column;
    }

    nav {
        display: flex;
        flex-direction: column;
    }
    #descricao{
   padding: 10 rem;
    }
}
@media only screen and (min-width: 600px) and (max-width:900px){
    .detalhe{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}
@media only screen and (min-width: 900px) and (max-width:1200px){
    .detalhe{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }

} 